body {
  background-image: url(https://img.youscreen.ru/wall/14977965841017/14977965841017_1920x1200.jpg);
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #009e71;
  padding: 10px 7px;
  z-index: 1000;
}

.header__menu {
  display: flex;
  margin: 0 10px;
}

.logOut {
  margin: 0 10px;
}

.headerItems {
  margin: 5px 20px;
  font-size: 16px;
}

.headerItems > * {
  margin: 2px 7px;
}

.logo {
  font-size: 20px;
}

.headerItems a,
.logo a {
  color: #fff;
  text-decoration: none;
}

.songsList {
  margin: 70px 100px;
}

.songsList::-webkit-scrollbar {
  display: none;
}

.songsCard {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

.fromWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}

.formInput {
  margin-top: 20px;
  font-size: 18px;
  color: #009e71;
}

.formInput input {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #009e71;
}

.signInButton {
  font-size: 18px;
  color: #fff;
  background: #009e71;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.signInButton:hover {
  cursor: pointer;
  background: #00cc92;
}

.formButton {
  margin: 10px 0;
  text-align: center;
}

.playlistsCollection {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 20px;
  background-color: transparent;
}

.playlistsCollection > * {
  margin: 10px;
}

.playlistsCollection::-webkit-scrollbar {
  display: none;
}

.buttonLink {
  color: #000;
  text-decoration: none;
}

.playlistCard {
  padding: 15px 7px;
}

.playlistName {
  font-size: 18px;
}

.playlistView {
  margin: 90px 100px;
  max-width: 900px;
}

.playlistView > *.songsList {
  margin: 10px 0;
}

.playlistHeader {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.playlistsButtons > * {
  margin: 0 5px;
}

.playlistsNameForm {
  display: flex;
  justify-content: center;
  margin: 90px 100px;
}

.playlistInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #fff;
  width: 400px;
}

.updatePage {
  margin: 70px 40px;
}

.updateHeader {
  font-size: 20px;
  padding: 10px;
  text-align: start;
  width: 900px;
  border-bottom: 2px #000 solid;
}

.updateInput {
  text-align: start;
}

.updateNameForm {
  padding: 15px;
  width: 900px;
  border-bottom: 2px #000 solid;
}

.songsPlaylistList {
  margin: 10px 100px;
}

.songsPlaylistList::-webkit-scrollbar {
  display: none;
}

.songAdminBox {
  display: flex;
  justify-content: space-around;
}

.createSongForm {
  margin: 70px 150px 0 0;
  text-align: start;
}

.FormWrapper {
  display: flex;
  justify-content: center;
}

.addAuthorForm {
  margin: 90px 100px;
  text-align: start;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
}

.addAuthorForm form > * {
  margin: 10px 0;
}

.headerWrapper {
  display: flex;
  justify-content: flex-start;
}

.formLink {
  text-align: center;
  margin: 10px 0;
}

.formLink a {
  color: #009e71;
  text-decoration: none;
}
