body::-webkit-scrollbar {
  display: none;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: #000;
  padding: 12px 7px;
  z-index: 1000;
}

.headerItems {
  margin: 5px 20px;
  font-size: 16px;
}

.headerItems > * {
  margin: 2px 7px;
}

.logo {
  font-size: 20px;
}

.headerItems a,
.logo a {
  color: #fff;
  text-decoration: none;
}

.songsList {
  margin: 70px 100px;
}

.songsList::-webkit-scrollbar {
  display: none;
}

.songsCard {
  display: flex;
  justify-content: space-between;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  margin-top: 20px;
  font-size: 18px;
}

.formInput input {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.signInButton {
  font-size: 18px;
  color: #fff;
  background: #000;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.signInButton:hover {
  cursor: pointer;
  background: #2e3033;
}

.playlistsCollection {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 20px;
  background-color: transparent;
}

.playlistsCollection > * {
  margin: 10px;
}

.playlistsCollection::-webkit-scrollbar {
  display: none;
}

.buttonLink {
  color: #000;
  text-decoration: none;
}

.playlistCard {
  padding: 15px 7px;
}

.playlistName {
  font-size: 18px;
}

.playlistView {
  margin: 90px 100px;
}

.playlistView > *.songsList {
  margin: 10px 0;
}

.playlistHeader {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid #000;
}

.playlistsButtons > * {
  margin: 0 5px;
}

.playlistsNameForm {
  display: flex;
  justify-content: center;
  margin: 90px 100px;
}

.playlistInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  width: 400px;
}
